name: Run Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scala: [2.11.12, 2.12.12]
        spark: [2.4.7, 3.0.1]
        exclude:
          - scala: 2.11.12
            spark: 3.0.1
    name: Test Spark ${{matrix.spark}} on Scala ${{matrix.scala}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: "adopt@1.8"
      - uses: actions/checkout@v2
      - uses: coursier/cache-action@v5
      - name: Build and run tests
        run: sbt ++${{matrix.scala}} test -DSPARK_VERSION=${{matrix.spark}}
